.footer {
    background: var(--main-color);
    height: calc(var(--header-height) + 20px);
}
.footer > ul li {
    color: var(--bg-color);
    position: relative;
    display: block;
    font-size: 24px;
    height: 60px;
    width: 60px;
    background: #14192D;
    border-radius: 50% !important;
    margin: 0 15px;
    transition: 0.5s;
}
.footer > ul li::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    /* background-color: var(--alternate-color); */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}
.footer > ul li:nth-child(1):before{
    background: #000000 !important;
}
.footer > ul li:nth-child(2):before{
    background: #1DA1F2 !important;
}
.footer > ul li:nth-child(3):before{
    background: #E1306C !important;
}
.footer > ul li:nth-child(4):before{
    background: #2867B2 !important;
}
.footer > ul li:nth-child(5):before{
    background: #ff0000 !important;
}
.footer > ul li:hover::before {
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px var(--alternate-color);
}
.footer > ul li:nth-child(1):hover::before{
    box-shadow: 0 0 15px #4267B2;
}
.footer > ul li:nth-child(2):hover::before{
    box-shadow: 0 0 15px #1DA1F2;
}
.footer > ul li:nth-child(3):hover::before{
    box-shadow: 0 0 15px #E1306C;
}
.footer > ul li:nth-child(4):hover::before{
    box-shadow: 0 0 15px #2867B2 !important;
}
.footer > ul li:nth-child(5):hover::before{
    box-shadow: 0 0 15px #ff0000;
}
.footer > ul li:hover {
    color: var(--alternate-color);
    /* box-shadow: 0 0 15px var(--alternate-color); */
}
.footer > ul li:nth-child(1):hover {
    color: #426cba;
    box-shadow: 0 0 15px #4267B2;
}
.footer > ul li:nth-child(2):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
}
.footer > ul li:nth-child(3):hover {
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
}
.footer > ul li:nth-child(4):hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
}
.footer > ul li:nth-child(5):hover {
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
}
